# Default: Spring Cloud Gateway lab.
# Kong Gateway lab can be tested later with: http://localhost:18000
VITE_API_BASE_URL=http://localhost:8081
VITE_KEYCLOAK_URL=http://localhost:18080
VITE_KEYCLOAK_REALM=viettel-lab
VITE_KEYCLOAK_CLIENT_ID=tenant-demo-web
VITE_REQUEST_ID_PREFIX=web-demo
